@model FoodforAll.Models.EstabelecimentoReceptor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstabelecimentoReceptor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeReceptor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeReceptor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroGoverno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroGoverno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aprovada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aprovada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefeicoesDiarias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefeicoesDiarias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelTecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelTecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioRecebimentoDoacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioRecebimentoDoacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
