@model IEnumerable<FoodForAll.Models.EstabelecimentoReceptor>

@{
    ViewData["Title"] = "Estabelecimentos Receptores";
}

<h1>Estabelecimentos Receptores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.RegistroGoverno)</th>
            <th>@Html.DisplayNameFor(model => model.Aprovada)</th>
            <th>@Html.DisplayNameFor(model => model.RefeicoesDiarias)</th>
            <th>@Html.DisplayNameFor(model => model.Telefone)</th>
            <th>@Html.DisplayNameFor(model => model.Endereco)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.RegistroGoverno)</td>
            <td>@Html.DisplayFor(modelItem => item.Aprovada)</td>
            <td>@Html.DisplayFor(modelItem => item.RefeicoesDiarias)</td>
            <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
            <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table> 